__pycache__/
.DS_Store
outputs/
output/
tmp/
.vscode/
data/
Data/

# this is the default download location for MNIST
# and it will change depending on where you call the dataset from
**/dataset/MNIST/**

# this is where I tested my backbone
models/backbones/mnist_testing